*{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#menuprincipal {
    position: fixed;
}

.flex-container{
	display : flex;
}

#menu.flex-container{
	justify-content: flex-end;
	align-items: center;
	margin-top: 14px;
}

#menu img{
	width: 70px;
	margin-right: auto;
	margin-left: 20px;
	background-color: transparent;
}

#menu a{
	display: inline-block;
	padding: 20px;
	color: #fff;
}
.textmenu{
	justify-content: flex-end;
	align-items: center;
	padding-left: 680px;
}




/*First Section*/
video{
	min-height: 100%;
	height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    background-position: 50%;
}

/*Footer*/ 

img.pages {
    max-width: 135px;
    display: block;
    margin-top: 24px;
}

#services{
	background-color: #333447;
	text-align: left;
	font-size: 19px;
	color: #fff;
	padding: 70px;
}

#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}
ul li a{
	color: white;
}   
