*{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#menuprincipal {
    position: fixed;
}

.flex-container{
	display : flex;
}

#menu.flex-container{
	justify-content: flex-end;
	align-items: center;
	margin-top: 14px;
}

#menu img{
	width: 70px;
	margin-right: auto;
	margin-left: 20px;
	background-color: transparent;
}

#menu a{
	display: inline-block;
	padding: 20px;
	color: #fff;
}
.textmenu{
	justify-content: flex-end;
	align-items: center;
	padding-left: 680px;
}




/*First Section*/
video{
	min-height: 100%;
	height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    background-position: 50%;
}

/*Footer*/ 
footer{
	height: 380px;
}

img.pages {
    max-width: 135px;
    display: block;
    margin-top: 24px;
}

#services{
	background-color: #333447;
	text-align: left;
	font-size: 19px;
	color: #fff;
	padding: 12px;
}

#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: -4px;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}
ul li a{
	color: white;
}

a.bold {
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 1.6;
}

.box{
	height: 300px;
}
.other {
    background-color: #333447;
    text-align: center;
    padding: 29px;
    color: white;
    line-height: 40px;
}

i.fa {
    color: white;
    font-size: 23px;
    letter-spacing: 13px;
}

#circle { 
	width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 1px white solid;
    display: inline-block;
    padding: 9px;
    margin-bottom: 9px;
}
 
hr {
    width: 290px;
    margin: 0 auto;
}
